@media only screen and (max-width:768px)
{
	 .row{
		 flex-wrap:wrap;
	 }
	 .header{
		 flex-wrap:wrap;
	 }
	 .header-col-1, .header-col-2{
		 width:100%;
	 }
	 .head-heading{
		 text-align:center;
	 }
	 .navbar li{
		 display:block;
		 display:none;
	 }
	 .restoran{
		 flex-wrap:wrap;
		 
	 }
	 .restoran-col-1,.restoran-col-2{
		 width:100%;
		 text-align:center;
		 justify-content:center;
	 }
	 .button-1{
		 width:100px;
		 text-align:center;
		 font-size:13px;
	 }
	 .banner-h1{
		 font-size:30px;
	 }
	 .button-2{
		 width:125px;
		 font-size:15px;
		 text-align:center;
	 }
	 .delicious-meal-wrapper{
		 height:1000px;
	 }
	 .spinner-img{
		 width:80%;
		 height:80%;
	 }
	 .service-box{
		 width:100%;
		 display:block;
		 margin:15px 0px;
	 }
	 .about-img,.about-content{
		 width:100%;
		 display:block;
	 }
	.zoom-lrg-img{
		 height:200px;
     }
	 .zoom-sml-img{
		 height:150px;
	 }
	.about-heading{
		position:relative;
	}
	.about-heading:before{
		position:absolute;
		width:45px;
		right:245px;
	}
	.h1-heading{
		font-size:30px;
	}
	.icon{
		font-size:35px;
	}
	.about-text{
		width:100%;
		display:block;
	}
	.h3-heading{
		font-size:15px;
    }
	.food-heading{
		position:relative;
	}
	.food-heading:after{
		position:absolute;
		right:115px;
	}
	.food-heading:before{
		position:absolute;
		left:115px;
	}
	.menu-col-1,.menu-col-2{
		width:100%;
		display:block;
	}
	.tab-h{
		position:relative;
	}
	.tab-h:after{
		position:absolute;
		right:15px;
	}
	.menu-tab{
		padding:20px 0px;
	}
	.reservation-col-1,.reservation-col-2{
		width:100%;
	}
	.reservation-col-2{
		justify-content:center;
	}
	.rsv-heading{
		position:relative;
	}
	.rsv-heading:after{
		position:absolute;
		left: 120px;
	}
	.form-input{
		width:380px;
	}
	.left-margin{
		margin-left:0px;
	}
	.input-4{
		    width: 390px;
	}
	.txtarea-input{
		width:380px;
	}
	.book-btn{
		padding:25px 160px;
	}
	.input{
		margin:10px;
	}
	.margin-0{
		margin:0px;
	}
	.team-h{
		position:relative;
	}
	.team-h:before{
		position:absolute;
		left: 100px;
	}
	.team-h:after{
		position:absolute;
		left: 295px;
	}
	.team-box{
		width:100%;
	}
	.test-h3{
		position:relative;
	}
	.test-h3:after{
		position:absolute;
		left: 277px;
	}
	.test-h3:before{
		position:absolute;
		left:115px;
	}
	.client-box{
		width:100%;
	}
	.info-cols{
		width:100%;
		display:block;
		margin:20px 0px;
	}
	.Company-heading{
		position:relative;
	}
	.Company-heading:after{
		left:90px;
	}
	.Contact-heading{
		position:relative;
	}
	.Contact-heading:after{
		left:80px;
	}
	.Opening-heading{
		position:relative;
	}
	.Opening-heading:after{
		left:80px;
	}
	.news-heading{
		position:relative;
	}
	.news-heading:after{
		left:115px;
	}
	.form-btn{
		position:relative;
	}
	.signup-btn{
		position:absolute;
		top:18px;
		right:40px;
	}
	.copyright-col1{
		width:100%;
	}
	.copyright-col2{
		width:100%;
		text-align:center;
	}
	.info-p{
		font-size:14px;
	}
}